<div class="uk-container uk-margin-top">
  <div uk-grid>
    <div class="uk-width-auto">
      <legend class="uk-legend"><%=t(:artists)%></legend>
    </div>
    <div class="uk-width-expand">
      <div class="uk-float-right">
        <%= link_to t(:new), new_artist_path, class: 'uk-button uk-button-primary' if current_user_is_admin %>
      </div>
    </div>
  </div>

  <table class="uk-table">
    <thead>
      <tr>
          <th><%=t(:name)%></th>
          <th class="uk-table-shrink"><%=t(:count)%></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
            <td>
              <%= link_to artist.name, artist %>
              <%= t(:from, from: artist.city.to_label) if artist.city %>
              <%= t(:from, from: artist.country_name) if artist.country.present? && artist.city.nil? %>
            </td>
            <td><%= artist.murals.size %></td>
            <td class="uk-table-shrink"></td>
            <td class="uk-table-shrink">
              <%= link_to t(:edit), edit_artist_path(artist) if current_user_is_admin %>
            </td>
            <td class="uk-table-shrink">
              <%= link_to t(:destroy), artist, method: :delete, data: { confirm: t(:confirm) } if current_user_is_admin %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @artists, views_prefix: 'layouts' %>