<% content_for :title do %>
    <legend class="uk-legend"><%= t(:editing_photo) %></legend>
<% end %>

<% content_for :links do %>
    <%= link_to t(:back), mural_photos_path(@photo.mural), class: 'uk-button uk-button-default' %>
    <%= link_to t(:show), [@photo.mural, @photo], class: 'uk-button uk-button-default' %>
    <%= link_to t(:destroy), [@photo.mural, @photo], method: :delete, class: 'uk-button uk-button-danger', data: { confirm: t(:confirm) } %>
<% end %>

<div class="uk-container uk-margin-top">
  <%= render 'form', photo: @photo %>
</div>