<%= simple_form_for(@city, wrapper: :form) do |f| %>
  <div uk-grid>
    <div class="uk-width-auto">
      <%= yield :title %>
    </div>
    <div class="uk-width-expand">
      <div class="uk-float-right">
        <%= yield :links %>
        <%= f.button :submit, class: 'uk-button uk-button-primary' %>
      </div>
    </div>
  </div>

  <%= f.error_notification %>

  <div>
    <%= f.input :country, as: :country, priority: @city.countries, prompt: :translate %>
    <div uk-grid>
      <div class="uk-width-1-3">
        <%= f.input :name %>
        <%= f.input :slug if @city.slug.present? %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
      </div>
      <div class="uk-width-2-3">
        <div id="map" class="uk-width-1-1 uk-height-medium"></div>
        <%= javascript_include_tag 'cities/form' %>
      </div>
    </div>
  </div>
<% end %>
