<% content_for :links_menu do %>
  <li class="uk-nav-divider"></li>
  <li><%= link_to t(:edit_mural), edit_mural_path(@mural) %></li>
  <li><%= link_to t(:add_photo), new_mural_photo_path(params[:id]) %></li>
  <li><%= link_to t(:edit_photos), mural_photos_path(@mural) %></li>
  <li class="uk-nav-divider"></li>
  <% @mural.translations.each do |translation| %>
      <% Globalize.with_locale(translation.locale) do %>
          <li>
            <%= link_to t(:destroy_translate, lang: t(translation.locale)), mural_path(@mural, translation_locale: translation.locale), method: :delete, data: { confirm: t(:confirm_translate, :lang => t(translation.locale)) } %>
          </li>
      <% end %>
  <% end %>
    <li class="uk-nav-divider"></li>
  <li><%= link_to t(:destroy_mural), mural_path(@mural), method: :delete, data: { confirm: t(:confirm)} %></li>
<% end %>

<% content_for :links_back do %>
    <li><a href="<%= murals_path%>" title="<%=t(:back)%>" uk-icon="icon: chevron-left"></a></li>
<% end %>

<% if @photos.present? %>
<div uk-slideshow="autoplay: true; animation: pull; ratio: 16:9">
  <div class="uk-position-relative uk-visible-toggle">
    <ul class="uk-slideshow-items" uk-height-viewport="min-height: 300">
      <% @photos.each do |photo| %>
      <li>
        <img src="<%= photo.image %>" alt="" uk-cover>
        <div class="uk-position-top-right uk-padding-small uk-overlay-default uk-transition-slide-bottom">
          <%=t(:photo)%>: <%= link_to photo.copyright_host, photo.copyright, rel: 'nofollow' %>
        </div>
      </li>
      <% end %>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
  </div>
  <ul class="uk-dotnav uk-flex-center uk-margin">
    <% @photos.each do |photo| %>
      <li uk-slideshow-item="<%=photo.id%>"><a href="#"><%=t(:mural)%> <%=photo.id%></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="uk-container uk-container-expand uk-margin">
  <article class="uk-article">
    <h1 class="uk-article-title"><% if @mural.title.present? %>"<%= @mural.title %>"<% end %> <%= @mural.to_label %></h1>
    <% if @mural.is_display_created_at.present? %>
    <p class="uk-text-meta"><%= date(@mural.created_at, '%d %B, %Y') %></p>
    <% end %>
    <p class="uk-text-lead"><%= @mural.content_html %></p>
    <% if @mural.artist %>
    <blockquote cite="#">
      <footer><%= t(:artist)%> <cite><%=link_to @mural.artist.to_label, @mural.artist %></cite></footer>
    </blockquote>
    <% end %>
  </article>
</div>
<div id="mural" data-src="<%=@mural.photo%>"></div>
<div id="map" data-latitude="<%=@mural.latitude%>" data-longitude="<%=@mural.longitude%>" class="uk-width-1-1" uk-height-viewport></div>
<%= javascript_include_tag 'murals/show' %>
