<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" name="viewport">
    <meta content="Murals web app" name="description">
    <title><%=@app_name%> - <%=@title%></title>
    <%= csrf_meta_tags %>
    <%= meta_tags %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' if current_user_is_admin %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/css/uikit.min.css', media: 'all' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit-icons.min.js' %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css', media: 'all' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js' if current_user_is_admin %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?key='+ENV.fetch('google_api_key') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="uk-offcanvas-content">
      <div id="navbar">
        <div class="uk-section-secondary uk-light">
          <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container uk-navbar-transparent uk-section-secondary uk-margin" uk-navbar>
              <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                  <li><a href="#offcanvas-menu" uk-toggle uk-icon="icon: menu"></a></li>
                  <%= yield :links_back %>
                </ul>
              </div>
              <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                  <div>
                    <ul class="uk-navbar-nav">
                    </ul>
                  </div>
                </div>
                <a class="uk-navbar-item uk-logo uk-text-uppercase" href="/"><%=@app_name%></a>
                <div class="uk-navbar-center-right">
                  <div>
                    <ul class="uk-navbar-nav">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="uk-navbar-right">
                <%= render 'layouts/search' if (@search_url.present?)%>
                <ul class="uk-navbar-nav">
                  <!--<li><a href="<%=city_path('kyiv')%>" uk-icon="icon: location"></a></li>-->
                  <li><a href="#offcanvas-profile" uk-toggle uk-icon="icon: cog"></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div id="offcanvas-menu" uk-offcanvas="mode: reveal; overlay: true">
          <div class="uk-offcanvas-bar">
            <div class="uk-margin-medium-top">
              <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li class="<%='uk-active' if controller_name == 'cities' %>"><a href="<%=cities_path()%>"><%= t(:cities) %></a></li>
                <li class="<%='uk-active' if controller_name == 'murals' %>"><a href="<%=murals_path()%>"><%= t(:murals) %></a></li>
                <li class="<%='uk-active' if controller_name == 'artists' %>"><a href="<%=artists_path()%>"><%= t(:artists) %></a></li>
                <li class="<%='uk-active' if controller_name == 'about' %>"><a href="<%=about_path()%>"><%= t('about.index.title') %></a></li>
                <%= yield :links_menu if current_user_is_admin %>
              </ul>
            </div>
          </div>
        </div>

        <div id="offcanvas-profile" uk-offcanvas="mode: reveal; overlay: true; flip: true;">
          <div class="uk-offcanvas-bar">

            <% if current_user %>
            <div class="uk-margin-medium-top uk-text-center uk-flex uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <!--
                <a href="#" uk-icon="icon: heart; ratio: 2"></a>
                <div>100 likes</div>
                -->
              </div>
              <div class="uk-width-1-2">
                <img class="uk-border-rounded" src="<%=current_user.avatar%>" width="100%" height="100%">
              </div>
              <div class="uk-width-expand">
                <!--
                <a href="#" uk-icon="icon: location; ratio: 2"></a>
                <div>100 checkins</div>
                -->
              </div>
            </div>
            <% end %>

            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
              <%= yield :links_profile %>
              <% if current_user %>
                <li><%= link_to t(:logout), destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to t(:login), new_user_session_path %></li>
              <% end %>
              <!--
              <li><a href="#">Saved murals</a></li>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Share app</a></li>
              <li><a href="#">Join us on Facebook</a></li>
              -->
              <% I18n.available_locales.each do |locale| %>
                  <% if I18n.locale != locale %>
                      <li><%= link_to t(:switch_to, :lang => t(locale)), locale: locale %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% if notice %>
      <div class="uk-container uk-margin">
        <div class="uk-alert-primary" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= notice %></p>
        </div>
      </div>
      <% end %>
      <%= yield %>
      <div class="uk-position-bottom-left uk-overlay-default uk-position-z-index uk-position-fixed copyright">
        Made with love by <a href="http://markdefroze.com">Mark de Froze</a>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV.fetch('google_analytics_key')%>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%=ENV.fetch('google_analytics_key')%>');
    </script>
  </body>
</html>
